<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body><!-- 렌더파일을 통해 실행, 에러가 난다면, 브라우저에서 발생 -->
  <h1>Courses~!</h1>
  <ul>
  <% courses.forEach(courses =>{ %> <!-- 제어문 출력 -->
    <li><%= courses.name %></li> <!-- 데이터 출력 -->
  <% }) %> <!-- 제어문 출력 -->
  </ul>
</body>
</html>

